name: common_widget
description: A common widgets library for Flutter projects with auto-sync capability.
version: 1.0.0
publish_to: "none"

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
